/#Calories = ( (Age x 0.2757) + (Weight x.py
/2019_08_18_CoffeeBreakPython_paperback_version.pdf
/audiobook_LeavingTheRatRaceWithPython.mp3
/Calories Burned During Workout (Variables and Expressions).py
/CheatSheet-Python-1_-Keywords1.pdf
/CheatSheet-Python-2_-Data-Structures.docx (2).pdf
/CheatSheet-Python-2_-Data-Structures.docx.pdf
/CheatSheet-Python-4_-Classes.pdf
/CheatSheet-Python-5_-Functions-and-Tricks.pdf
/CheatSheet-Python-6_-Coding-Interview-Questions.pdf
/CheatSheet-Python-7_-NumPy-1.pdf
/CoffeeBreakPythonSlicing.pdf
/Coffee_Break_Python_Puzzles.zip
/Finxter-Python-Cheat-Sheet-Complex-Data-Types.pdf
/Finxter_WorldsMostDensePythonCheatSheet.pdf
/Income Tax Calculator
/LeavingTheRatRaceWithPython_finxter.pdf
/Module 1 & 2 notes.docx
/Module 2 Exercises.pdf
/Module 3 - Introduction to Python Programming.pdf
/py3e_source1-9.zip
/PyCharm Community Edition 2022.3.1.lnk
/Python Basics - Python Cheatsheet.url
/Python-Cheat-Sheet.pdf
/Simplicity_TheFinerArtOfCreatingSoftware_CheatSheet_1Page.pdf
/Taxes Calculator
/test py.py
/Visual Studio Code.lnk